<h3>Install from NuGet</h3>
<code>Install-Package MC.MvcQuickNav</code>
<h3>Download source from GitHub</h3>
<a href="https://github.com/chambem9/MC.MvcQuickNav">Download the source from GitHub</a> (including this example website)