<ul>
    <li>All navigation controls are generated from a single sitemap file.</li>
    <li>The controls generate clean, standard, semantic markup, 
        (only <code>ul</code>, <code>li</code>, <code>a</code>, <code>span</code> tags) making them easy to style.</li>
    <li>Support an arbitrary depth of navigation (though make sure your CSS can cope with it!).</li>
    <li>Supports tooltips and opening in a new window.</li>
    <li>Tracks user's current node automatically.
        <ul>
            <li>An <code>active</code> CSS class is added to this node, which allows the current node to be distinguished in the UI.</li>
            <li>Works by comparing URLs instead of the less flexible method of using controller actions and methods. For instance, on this
                site the /download url link is routed to the home controller, yet can still be correctly identified as the active node.
            </li>
        </ul>
    </li>
    <li>Backwards compatible with ASP.NET Webform's sitemap file format.</li>
</ul>