<h3>Add a reference to MC.MvcQuickNav</h3>
<p>You can either use the NuGet package or download from GitHub:</p>
<ul>
    <li><code>Install-Package MC.MvcQuickNav</code></li>
    <li><a href="https://github.com/chambem9/MC.MvcQuickNav">Download the source from GitHub</a> (including this example website)</li>
</ul>

<h3>Create an XML sitemap</h3>
<p>Create a file called <code>web.sitemap</code> in the root of your website that looks something like this:
</p>
<script src="https://gist.github.com/chambem9/4983670.js"></script>

<p>MvcQuickNav is backwards compatible with the sitemap format from ASP.NET WebForms.</p>

<h3>Create a view and call one of the HTML Helpers</h3>
<p>Here's a minimal example:</p>

<script src="https://gist.github.com/chambem9/4983653.js"></script>

<p>You'll see HTML generated for the navigation menu that looks like the following:</p>

<script src="https://gist.github.com/chambem9/4983634.js"></script>

<h3>Add some styling to make it look beautiful</h3>
<p>Here's what we're using on this site for the navigation menu:</p>

<script src="https://gist.github.com/chambem9/4984751.js"></script>

<h3>And you're done!</h3>
<p>You should see a navigation menu like the one at the top of this page. Next, take a look at the
    @Html.ActionLink("other controls", "", "controls") that are included.
</p>