nav.breadcrumbs {
    border: 1px dotted #BBBBBB;
    border-width: 1px 0px;
    padding: 3px 2px;
}

nav.breadcrumbs ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline;
}

nav.breadcrumbs li {
    display: inline;
    margin: 0px;
}

nav.breadcrumbs li:before {
    content: " > ";
}