
body
{
    font-size: .9em;
    font-family: Helvetica, sans-serif; 
    color: #323232;
    background-color: #fff;
    padding: 10px;
    width: 98%;
    line-height: 1.4;
}

header {
}

h1 {
    font-size: 3em;
    margin: 0px;
    display: inline;
}

h1 a {
    text-decoration: none;
    color: #747474;
}

h1 a:hover {
    color: #4f5964;
}

h2 {
    margin-top: 0px;
    font-size: 1.9em;
    line-height: 1;
}

h3 {
    font-size: 1.6em;
    line-height: 1;
}

header > div,
header > nav {
    display: inline;
    position: relative;
    top: -10px;
    left: 20px;
}

.breadcrumbs-container {
    margin-bottom: 20px;
}

.childnav-container {
    float: left;
    width: 220px;
}

section {
    float: left;
    width: 860px;
}

.gist {
    line-height: 1.2;
    font-size: 0.8em;
}

code {
    font-size: 1.3em;
}

footer {
    border-top: 1px dotted #BBBBBB;
    margin: 20px 0px 50px 0px;
    font-size: 0.7em;
    color: #999999;
    padding: 5px;
}

.clearer {
    clear: both;
}

blockquote {
    border: 1px dotted #DDDDDD;
    background-color: #FAFAFA;
    margin: 10px 0px;
    padding: 20px;
    font-size: 1.1em;
    text-align: center;
}