@using MC.MvcQuickNav

<code>@@Html.Breadcrumbs()</code>

<p>The breadcrumbs control show the path to the user's current navigation node, like the <em>You are here</em> bit above.</p>

<p>Here's a minimal example:</p>

<script src="https://gist.github.com/mikechamberlain/4983858.js"></script>

<p>This outputs HTML like this:</p>

<script src="https://gist.github.com/mikechamberlain/4983864.js"></script>

<p>Style it with something like this:</p>

<script src="https://gist.github.com/mikechamberlain/4985025.js"></script>

<p>And you'll see something like this:</p>

@Html.Breadcrumbs()