<code>@@Html.Breadcrumbs()</code>

<p>The breadcrumbs control show the user the path the took to get to their current location, like the <em>You are here</em> bit above.</p>

<p>Here's a minimal example:</p>

<script src="https://gist.github.com/chambem9/4983858.js"></script>

<p>This outputs HTML like this:</p>

<script src="https://gist.github.com/chambem9/4983864.js"></script>

<p>Notice how the active node is rendered with an <code>active</code> CSS class, allowing you to style it differently, and no link.</p>