@using MC.MvcQuickNav
@model List<NavigationNode>

<p>MvcQuickNav offers two customization points:</p>
<ul>
    <li>@Html.ActionLink("Create your navigation tree in code", "manual")
         and pass it to the CustomNavigation helper. This option is simple, very flexible, but very manual.</li>
    <li>@Html.ActionLink("Write your own Navigation Tree Provider", "INavigationTreeProvider")
        to replace MvcQuickNav's built in <code>XmlNavigationTreeProvider</code> and continue to use the built in controls. 
        This option is just a little more complex, but allows you to take advantage of all the logic and features already provided by MvcQuickNav.
    </li>
</ul>