@using MC.MvcQuickNav
@model List<NavigationNode>

<code>@@Html.CustomNavigation(navigationNodes, cssClass)</code>

<p>The included controls go through the following steps to create their output:</p>
<ol>
    <li>read the site map file</li>
    <li>generate a tree to represent the map</li>
    <li>process this tree to contain only the nodes required for the view</li>
    <li>renders this tree to HTML</li>
</ol>

<p>If you need complete control over the output then you can create the tree manually hook straight in to step 4 with the CustomNavigation helper.
There are two ways you can create your tree:</>
<ul>
    <li>@Html.ActionLink("By hand", "manual", "controls")</li>
    <li>@Html.ActionLink("With the NavigationManager", "navigationmanager", "controls")</li>
</ul>
