@using MC.MvcQuickNav

<code>@@Html.InThisSection()</code>

<p>Imagine that our website divided into a series of main sections, each one rooted at
    one of the top level items on the menu above. The InThisSection control shows us where
    we are and where else we can go within this section. You can see one to the left of this page.</p>

<p>Render an InThisSection control by calling its HTML helper:</p>

<script src="https://gist.github.com/chambem9/4984254.js"></script>

<p>Which will output something like this:</p>

<script src="https://gist.github.com/chambem9/4985123.js"></script>

<p>Apply some CSS, for exmaple:</p>

<script src="https://gist.github.com/chambem9/4985094.js"></script>

<p>And you'll see something like this:</p>

@Html.InThisSection()

<p>As with the Navigation Menu control, you can pass the maximum depth as a parameter to have it render only down to this depth.</p>