@using MC.MvcQuickNav

<code>@@Html.FullNavigation()</code>
<p>Outputs the entire navigation menu, like the one you see above.</p>

<p>Here's a minimal example:</p>

<script src="https://gist.github.com/chambem9/4983653.js"></script>

<p>You'll see HTML generated for the navigation menu that looks like the following:</p>

<script src="https://gist.github.com/chambem9/4983634.js"></script>

<p>Apply some CSS styling and you're good to go.</p>

<p>You can limit the maximum depth of the nodes rendered using the optional parameter to this helper.
    For instance, if we do <code>@@Html.NavigationMenu(1)</code> then only the top level items are rendered - no drop downs appear:
</p>

@Html.NavigationMenu(1)