<p>The <code>NavigationManager</code> contains methods that are helpful in obtaining a custom view of your navigation tree
    and finding the active node. It depends on an <code>ISiteMapProvider</code>, which is responsible for creating the navigation tree.
    Here's a complete example:
</p>
<script src="https://gist.github.com/chambem9/4994019.js"></script>
<p>Hint: the other controls use the included <code>XmlSiteMapProvider</code>. If you wish to retrieve your sitemap
    from somewhere other than an XML file, then implementing <code>ISiteMapProvider</code> is a good place to start.
</p>