<p>The <code>NavigationManager</code> contains methods that are helpful in obtaining a custom view of your navigation tree
    and finding the active node. It depends on an <code>ISiteMapProvider</code>, which is responsible for creating the navigation tree.
    Here's a complete example:
</p>
<script src="https://gist.github.com/chambem9/4994019.js"></script>