@using MC.MvcQuickNav

<code>@@Html.SiteMap()</code>
<p>Outputs a plain representation of the structure of your site. Here's the one for this site:</p>

@Html.SiteMap()

<p>Hint: this is exactly the same markup as the 
    @Html.ActionLink("NavigationMenu", "menu"), just without extensive CSS applied.</p>
<p>You can limit the maximum depth of the nodes rendered using the optional parameter to this helper.
    For instance, if we do <code>@@Html.SiteMap(2)</code> then only the first and second items are rendered:
</p>

@Html.SiteMap(2)