@model MC.MvcQuickNav.ExampleWeb.Models.DemoModel

<p>This is a demo page. Navigate to various pages within this section using the Navigation Menu, Breadcrumbs and In This Section controls to get a feel for how they work.</p>